<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServelet</servlet-name>
        <servlet-class>com.mycompany.servelets.RegisterServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServelet</servlet-name>
        <servlet-class>com.mycompany.servelets.LoginServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServelet</servlet-name>
        <servlet-class>com.mycompany.servelets.LogoutServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductOperationServelet</servlet-name>
        <servlet-class>com.mycompany.servelets.ProductOperationServelet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServelet</servlet-name>
        <url-pattern>/RegisterServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServelet</servlet-name>
        <url-pattern>/LoginServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServelet</servlet-name>
        <url-pattern>/LogoutServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductOperationServelet</servlet-name>
        <url-pattern>/ProductOperationServelet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
